body{
    font-family: 'Open Sans', sans-serif;
}
.nav{
    text-transform: uppercase; 
    display:block;
    width: 1140px;
    margin: 0 auto;
    margin-top:22px;
}
.container{
    width:1140px;
    height: 1000px;
    margin: 0 auto;
}
.nav-text{
    display:inline;
}
.nav-img{
    display:inline;
}
.nav-img a{
    display:inline-block;
    padding:0px 49px 0px 19px;
    font-size: 12px;
    /*margin-top:15px; Працює неправильно*/
}
.nav-text a{
    display:inline-block;
    padding:12px;
    font-weight:bold;
    font-size: 12px;
    color:#9daeb6;
    text-decoration: none;
}
.nav-text a:hover{
    text-decoration: underline;
}
.nav-botton{
    display:inline;
}
.nav-botton a{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    letter-spacing: 2px;
    display:inline-block;
    color:#36aeea;
    text-decoration: none;
    border: solid 3px #36aeea;
    border-radius: 4px;
    padding: 16px 43px 15px 43px;
    margin-left:234px;
}